@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Poppins:wght@200;300;400;600;700&display=swap');

/*=============
    FONTS
=============*/

:local(.fontOswald) {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

:local(.fontPoppins) {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/*===================
    FONT WEIGHTS
===================*/

:local(.bold) {
    font-weight: 700;
}

:local(.light) {
    font-weight: 300;
}

:local(.thin) {
    font-weight: 200;
}

:local(.semiBold) {
    font-weight: 600;
}

/*=============
    COLORS
=============*/

:local(.orange) {
    color: #ee3937;
}

:local(.darkGray) {
    color: #201d1d;
}

:local(.lightOrange) {
    color: #f16667;
}

:local(.lightGray) {
    color: #4f4f4f;
}

:local(.white) {
    color: #ffffff;
}

/*=======================
    BACKGROUND COLORS
=======================*/

:local(.bgOrange) {
    background-color: #ee3937;
}

:local(.bgDarkGray) {
    background-color: #201d1d;
}

:local(.bgLightOrange) {
    background-color: #f16667;
}

:local(.bgLightGray) {
    background-color: #4f4f4f;
}

:local(.bgWhite) {
    background-color: #ffffff;
}

/*=============
    BUTTONS
=============*/

:local(.btn) {
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    padding: 0.2rem 1.5rem 0.3rem;
    text-decoration: none;
}

:local(.btnDiv) {
    display: inline-block;
    border-style: solid;
    border-width: 0.15rem;
    padding: 0.25rem;
}

:local(.btnDivPrimary) {
    border-color: #201d1d;
}

:local(.btnDivSecondary) {
    border-color: #ee3937;
}

/*=======================
    CUSTOM BEHAVIOURS
=======================*/

:local(.inheritHeight){
    height: inherit;
}

:local(.borderRightOrange){
    border-right: 2px solid #ee3937;
}

:local(.borderRightDarkGray){
    border-right: 2px solid #201d1d;
}

:local(.zeroPaddingRight) {
    padding-right: 0 !important;
}

:local(.zeroPaddingLeft) {
    padding-left: 0 !important;
}
